<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Disk Scaner</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        <link rel="stylesheet" th:href="@{/bootstrap.css}" />
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary btn-block" href="/">Choose disk</a><br/>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary btn-block" href="update">Update</a><br/>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary btn-block" href="#" onclick="CloseAndExit();">Exit</a><br/>
                </div>
                <div class="W-100"></div>
            </div>
        </header>
        <div class="container-fluid">
            <h1 th:text="@{'Drive ' + ${drive}}"></h1>
            <table border="1" width="100%" class="table table-bordered table-hover">
                <tr>
                    <th width="50%">File name</th>
                    <th width="20%">Info</th>
                    <th width="10%">Size</th>
                    <th width="20%">Date</th>
                </tr>
                <tr th:each="fi : ${changes}" th:class="${fi.getStyle()}">
                    <td th:text="${fi.getFileName()}"></td>
                    <td th:text="${fi.getDescription()}"></td>
                    <td th:text="${fi.getSize()}"></td>
                    <td th:text="${fi.getDate()}"></td>
                </tr>
            </table>
        </div>
        <script type="text/javascript" src="jquery-3.4.1.js"></script>
        <script type="text/javascript" src="bootstrap.js"></script>
        <script type="text/javascript" src="closeapplication.js"></script>
    </body>
</html>